<li>
	{{burger_name}}

	<button class="change-devourable" data-id="{{id}}" data-newdevourable="{{devourable}}">
		{{#if devourable}}Devour it!{{/if}}</button>

{{!-- 	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
 --}}
</li>
